.imagen-de-gatos {
  width: 200px;
  border-width: 5px;
  border-color: blue;
  border-style: solid;
}

.gatarina {
  width: 200px;
  border-width: 5px;
  border-color: red;
  border-style: double dashed dotted outset;
}

.bordes-redondeados {
  border-radius: 150px;
}