#titulo-app-gatos {
  font-size: 30px;
  color: green;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#imagen-de-gatos {
  border-radius: 50%;
  border-width: 5px;
  border-style: solid;
  border-color: brown;
}

#lista-gatos-aman {
  font-size: 15px;
  color: blueviolet;
}

#lista-gatos-odian {
  font-size: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img{
  width: 200px;
}

#foto-principal {
  margin: 20px;
  background-color: purple;
  border-width: 2px ;
  border-color: black;
  border-style: solid;
  padding: 20px 15px 5px 10px ;
}

div {
  background-color: crimson;
}